<!DOCTYPE html>
<html>
    <body>
        
        <h1>Agregar persona</h1>
<!--Este formulario nos permite agregar personas con los datos
brindados desde este, hay que asegurarse que los ID de cada 
variable coinsidan con el resto, para que tengan el mismo formato-->
        <form action="/addPerson" method="POST">
            <label for="nss">NSS:</label>
            <input type="text" id="nss" name="nss"><br><br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br><br>
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad"><br><br>
            <label for="tipoSangre">Tipo de sangre:</label>
            <input type="text" id="tipoSangre" name="tipoSangre"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>